.root {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.main {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/backCars.png");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: cover;
}
  
.wrapper {
  height: 100%;
  width: 80%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap-reverse;
  border: 1px solid red;
}

.containerDescription {
  
}

.slider {
  width: 60em;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
  border: 1px solid red;
}

.mainFrame {
  position: relative;
  width: 100%;
  height: 70%;
  flex-grow: 1;
  overflow: hidden;
}


.containerMainImages {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
}

.mainImage {
  width: 100em;
}

.containerSmallImages {
  display: flex;
 
}

.smallImage {
  height: 100%;
  width: 6em;
}