.root {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
height: 100%;
width: 100%;
flex-grow: 1;
display: flex;
flex-direction: column;
align-items: center;
background-image: url("../images/backVegetables.png");
background-repeat: no-repeat;
background-position: center;
background-clip: border-box;
background-size: cover;
}

.wrapper {
height: 100%;
width: 70%;
flex-grow: 1;
display: flex;
flex-direction: column;
}

.containerBack {
display: flex;
align-items: center;
margin: 1em 0;
}

.arrow {
font-size: 1.5em;
margin-right: .5em;
color: rgb(60, 240, 70);
}

.text {
color: rgba(0, 0, 0, .7)
}

.text:hover {
color: rgba(0, 0, 0, 1);
}

.containerImageName {
width: 100%;
display: flex;
align-items: flex-start;
flex-wrap: wrap;
margin: 1em 0;
}

.containerImage {
width: 50%;
margin-bottom: 2em;
}

.image {
width: 100%;
}

.containerName {
max-width: 25em;
display: flex;
flex-direction: column;
margin-left: 2em;
}

.name {
width: 100%;
font-size: 2em;
display: flex;
flex-wrap: wrap;
}

.containerDescription {
display: flex;
flex-direction: column;
}

.containerDescription > p {
  margin-bottom: .5em;
}

.descriptionText {
text-align: justify;
line-height: 1.6em;
display: flex;
flex-direction: column;
}

@media only screen and (max-width: 480px) {
.main {
  margin-top: 4em;
}
}