  .main {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/backRolls.png");
    background-position: center;
    background-clip: border-box;
    background-size: auto;
  }

  @media only screen and (max-width: 480px) {
    .main {
      margin-top: 4em;
    }
  }