.form {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30vw;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
  border-radius: .3em;
  background-color: #f2f2f2;
  z-index: 100;
  opacity:0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
}

@keyframes show {
  0% {
  opacity:0;
  }
  100% {
  opacity:1;
  }
}

.containerMessage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 1.6em;
  margin: 1em .5em;
}

.underheaderText {
  margin-bottom: 1em;
}

.inputName, .inputEmail {
  width: 80%;
  height: 2em;
  margin-bottom: .5em;
  padding: .1em .3em;
  border: .1px solid rgb(216, 216, 216);
  border-radius: .2em;
}

.inputFeedback {
  width: 80%;
  min-height: 10em;
  flex-grow: 1;
  padding: .1em .3em;
  border: .1px solid rgb(216, 216, 216);
  border-radius: .2em;
}

.containerButtons {
  height: 3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: .1px solid rgb(216, 216, 216);
}

.buttonClose {
  font-size: .9em;
  width: 45%;
  z-index: 10;
  margin: .5em;
  padding: .1em .3em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, .7);
  border-radius: .2em;
}

.buttonSend, .buttonLoading {
  font-size: .9em;
  width: 55%;
  z-index: 10;
  margin: .5em;
  padding: .1em .3em;
  color: #f2f2f2;
  background-color: rgb(60, 240, 70);
  border: .5px solid rgb(60, 240, 70);
  border-radius: .2em;
}

.buttonSend, .buttonClose {
  cursor: pointer;
}

.successMessage  {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(20, 90, 30);
  background-color: #f2f2f2;
  border-radius: .3em;
}

.successMessage > *, .errorMessage > * {
  margin: 1em;
}

.errorMessage, .validMessage {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, .7);
  background-color: #f2f2f2;
  border-radius: .3em;
}
