.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav > * {
  margin-right: 2em;
  color: #ffffff;
}

.nav > *:hover {
  color: rgb(60, 240, 70);
}

.activeLink {
  color: rgb(60, 240, 70);
}

.iconNavPage, .iconNavPageActive  {
  position: fixed;
  right: 1.2em;
  top: 20px;
  height: 25px;
  width: 30px;
  background: rgb(60, 240, 70);
  box-sizing: border-box;
  background-clip: content-box;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  transform: rotate(0deg);
  transition: all 0.25s ease-in-out;
  display: none;
  z-index: 12;
}

.iconNavPage:before, .iconNavPage:after, 
.iconNavPageActive:before, .iconNavPageActive:after {
  content: "";
  position: absolute;
  right: 0;
  height: 2px;
  width: 100%;
  background: rgb(60, 240, 70);
  will-change: rotate;
  transform: rotate(0deg);    
  transition: all 0.5s ease;
}

.iconNavPage:before, .iconNavPageActive:before {
  top: -10px;
  width: 90%;
}

.iconNavPage:after, .iconNavPageActive:after {
  bottom: -10px;
  width: 80%;
}

.iconNavPageActive {
  background: transparent;
  background-clip: content-box;
}

.iconNavPageActive:before {
  transform: rotate(135deg);
  top: 0;
  background: rgb(60, 240, 70);
  width: 110%;
}

.iconNavPageActive:after {
  bottom: 0;
  transform: rotate(-135deg);
  background: rgb(60, 240, 70);
  width: 110%;
}

.overlay, .overlayActive  {
  position: fixed;
  background: rgba(110, 170, 110, .95);
  top: 4em;
  left: 0;
  width: 100%;
  min-height: 120vh;
  opacity: 0;
  transform-origin: right top;
  transform: scale(0);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  /*overflow: scroll;*/
}

.overlayActive {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}


.navMobile {
  width: 100%;
  height: 80vh;
  font-size: 1.5em;
  position: absolute;
  top: 5vw;
  right: 10vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: none;
  color: #ffffff;
  z-index: 12;
  overflow: scroll;
}

.containerNavPage, .containerNavSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.containerNavPage > * {
  margin-bottom: 1em;
}

.navSection {
  font-weight: 600;
  padding: .3em;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: .2em;
}





@media only screen and (max-width: 480px) {
  .nav {
    display: none;
  }
  
  .iconNavPage, .iconNavPageActive {
    display: block;
  }

  .navMobile {
    display: flex;
  }
  
}
