.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.vegetables, .rolls, .cups, .cars {
  width: 20em;
  height: 18em;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  background-size: cover;
  margin: 1em;
}   

.vegetables {
  background-image: url("../images/vegetables.png"); 
  transform: rotate(10deg);
}

.vegetables:hover {
  background-image: url("../images/vegetables-hover.png");
}

.rolls {
  background-image: url("../images/rolls.png");
  transform: rotate(-10deg);
}

.rolls:hover {
  background-image: url("../images/rolls-hover.png");
}

.cups {
  background-image: url("../images/cups.png");
  transform: rotate(5deg);
}

.cups:hover {
  background-image: url("../images/cups-hover.png");
}

.cars {
  background-image: url("../images/cars.png");
}

.cars:hover {
  background-image: url("../images/cars-hover.png");
}

